body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
}
.container{
    width: 50%;
    border-radius: 20px;
    border: 1px solid green;
    margin: 4px;
    padding: 4px;
}